.body{
    background-color: #f5f7f9;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.air_train_bus {
    width: 100%;
    height: 400px;
}
.radio-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.radio-group label {
   display: flex;
    align-items: center;
    gap: 1px;
    cursor: pointer;
    color: #0826e7;
}
.inputs {
    display: flex;
    gap: 12px;
    padding: 20px;
    border: 3px solid  #00c4e6;
    border-radius: 220px;
    font-size: 1px;
    width: 100%;
    justify-content:center;


}
.airport_input{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
    justify-content: center;
    width: 100%;


}
.button-row {
    margin-top: 1px;
    text-align: center;

}
.button-row button {
    background: #0f0f0f;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: -100%;

}

.button-row button:hover {
    background: #00c4e6;
}


.features {
    text-align: center;
    padding: 60px 20px;
    background-color: #fff;
    direction: rtl;
}
.section-title {
    color:#00c4e6;
    font-size: 22px;
    margin-bottom: 60px;
}
.features-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.feature-box {
    width: 220px;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;

}
.feature-box:hover {
    transform: translateY(-40px)
}

.feature-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}








